# .ebextensions/gunicorn.config
option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: app:application 

packages:
  yum:
    gcc: []
    python3-devel: []

container_commands:
  01_gunicorn_start:
    command: "gunicorn -c /opt/python/current/app/gunicorn_config.py app:application"
